.frontpage-banner__discord:before, .frontpage-banner__subscribe:before, .frontpage-banner__updated-at:before, .frontpage-search__button:before {
    font-family: FontIcons;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.no-icons .frontpage-banner__discord:before, .no-icons .frontpage-banner__subscribe:before, .no-icons .frontpage-banner__updated-at:before, .no-icons .frontpage-search__button:before {
    visibility: hidden
}

.frontpage-banner__subscribe:before {
    content: "\E835"
}

.frontpage-search__button:before {
    content: "\E81B"
}

.frontpage-banner__updated-at:before {
    content: "\E836"
}

.frontpage-banner__discord:before {
    content: "\E8FC"
}

.frontpage-banner {
    position: relative;
    color: #fff;
    background-color: #fff;
    background: linear-gradient(0deg, #414141 0, #373636);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    /*padding-top: 80px*/
}

.frontpage-banner:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -16px;
    border-bottom: 19px solid #fff;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent
}

.frontpage-banner__inner {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    /*padding-top: 50px;*/
    box-sizing: border-box
}

.frontpage-banner__discord, .frontpage-banner__github, .frontpage-banner__subscribe, .frontpage-banner__updated-at {
    color: #fdc073;
    display: inline-block;
    vertical-align: middle;
    height: 22px;
    line-height: 22px;
    margin-right: 25px
}

.frontpage-banner__count {
    padding: 0 4px;
    font-weight: 700
}

.frontpage-banner__subscribe {
    cursor: pointer
}

.working-hover .frontpage-banner__discord:hover, .working-hover .frontpage-banner__github:hover, .working-hover .frontpage-banner__subscribe:hover, .working-hover .frontpage-banner__updated-at:hover {
    color: #fff;
    text-decoration: none
}

.frontpage-banner__discord:before {
    padding-right: 6px;
    vertical-align: middle
}

.frontpage-banner__subscribe:before, .frontpage-banner__updated-at:before {
    font-size: 20px;
    padding-right: 6px;
    vertical-align: middle
}

.frontpage-banner__texts {
    padding: 0 30px
}

h1.frontpage-banner__title {
    font-size: 36px
}

h1.frontpage-banner__title, h2.frontpage-banner__subtitle {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.4;
    color: #fff;
    margin-bottom: 15px
}

h2.frontpage-banner__subtitle {
    font-size: 24px
}

p.frontpage-banner__text {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0
}

.frontpage-banner__logo {
    display: block;
    margin-left: 32px;
    text-align: left
}

.frontpage-banner__content {
    margin-top: 20px
}

.frontpage-banner__sub {
    width: 650px;
    padding: 0 10px 50px;
    margin: 32px auto 0
}

.frontpage-banner__list {
    width: 100%;
    padding: 15px 0 5px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

@media (max-width: 568px) {
    .frontpage-banner {
        background-image: linear-gradient(to top left, #414141 0, #414141 50%, #3d3d3d 0)
    }

    .frontpage-banner__inner {
        padding-top: 32px
    }

    h1.frontpage-banner__title {
        font-size: 28px;
        margin-bottom: 23px
    }

    h2.frontpage-banner__subtitle {
        font-size: 20px;
        margin-bottom: 23px
    }

    p.frontpage-banner__text.no-mobile {
        display: none
    }

    .frontpage-banner__logo {
        margin-left: 0;
        text-align: center
    }
}

@media screen and (max-width: 767px) {
    .frontpage-banner__sub {
        width: auto
    }

    .frontpage-banner__github {
        display: none
    }
}

@media screen and (max-width: 400px) {
    .frontpage-banner__list {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

.frontpage-content {
    background: #fff;
    outline: none
}

@media (min-width: 1220px) {
    .frontpage-content {
        line-height: 20px
    }
}

@media (max-width: 1120px) {
    .frontpage-content {
        margin-bottom: 0
    }
}

.frontpage-content__container {
    position: relative;
    padding: 52px 16px 48px;
    margin-top: 54px
}

.frontpage-content__container:before {
    content: "";
    height: 54px;
    position: absolute;
    top: -54px;
    right: 0;
    left: 0;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .04) 0, transparent)
}

.frontpage-content__container:first-child {
    margin-top: 0
}

.frontpage-content__container:first-child:before {
    display: none
}

.frontpage-content__container_no-shadow {
    margin-top: 0
}

.frontpage-content__container_no-shadow:before {
    display: none
}

.frontpage-content__container_no-padding {
    padding: 0
}

.frontpage-content__container_colored {
    background-color: #fbf3e5;
    padding: 40px 16px 52px
}

@media (max-width: 840px) {
    .frontpage-content__container_colored {
        padding: 32px 16px 44px
    }
}

@media (max-width: 568px) {
    .frontpage-content__container:not(:first-child):not(.frontpage-content__container_no-shadow) {
        padding-top: 0;
        margin-top: 0
    }

    .frontpage-content__container_no-shadow:not(.frontpage-content__container_no-padding) {
        padding: 48px 16px
    }

    .frontpage-content__container:before {
        display: none
    }
}

.frontpage-content__inner {
    max-width: 920px;
    margin: 0 auto
}

.frontpage-content__part {
    display: inline-block;
    margin-bottom: 12px;
    box-sizing: border-box;
    background-color: #9b6b6b;
    border-radius: 12px;
    font-size: 12px;
    line-height: 14px;
    padding: 3px 8px;
    text-transform: uppercase;
    text-align: center;
    color: #fff
}

.frontpage-content__title {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 28px;
    color: #404040
}

.frontpage-content__description {
    max-width: 700px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 24px
}

.frontpage-content__description p {
    margin: 0 0 8px
}

.frontpage-content__description p:last-child {
    margin-bottom: 0
}

.frontpage-content .list {
    counter-reset: a;
    padding: 0;
    margin: 0
}

.frontpage-content .list.first {
    counter-reset: a;
    /*counter-increment: a;*/
    padding: 0;
    margin: 0
}

.frontpage-content .list__title {
    position: relative;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 8px;
    margin-bottom: 16px
}

.frontpage-content .list__link {
    color: #373636
}

.frontpage-content .list__item {
    list-style: none;
    counter-increment: a
}

.frontpage-content .list__item:last-child .list-sub {
    margin-bottom: 0
}

.frontpage-content .list-sub {
    padding: 0;
    margin: 0;
    counter-reset: b;
    margin-bottom: 24px;
    list-style-type: none;
    -webkit-column-gap: 10px;
    column-gap: 10px;
    -webkit-columns: 3;
    columns: 3
}

@media (max-width: 840px) {
    .frontpage-content .list-sub {
        -webkit-columns: 2;
        columns: 2
    }
}

@media (max-width: 568px) {
    .frontpage-content .list-sub {
        -webkit-columns: 1;
        columns: 1
    }
}

.frontpage-content .list-sub__title {
    position: relative;
    padding-left: 38px;
    margin-bottom: 2px
}

.frontpage-content .list-sub__title:before {
    position: absolute;
    top: 4px;
    left: 0;
    font-family: Consolas, Lucida Console, Menlo, Monaco, monospace;
    font-size: 12px;
    line-height: 16px;
    content: counter(a) "." counter(b)
}

.frontpage-content .list-sub__link {
    font-size: 16px;
    line-height: 23px
}

.frontpage-content .list-sub__item {
    counter-increment: b;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
    margin: 0
}

.frontpage-content .list-sub__item:before {
    content: ""
}

@media (max-width: 568px) {
    .frontpage-content .list-sub__item_phone_hidden {
        display: none
    }
}

.frontpage-content .list-sub__more {
    cursor: pointer;
    display: none;
    margin-left: 38px;
    font-size: 16px;
    line-height: 23px
}

@media (max-width: 568px) {
    .frontpage-content .list-sub__more {
        display: inline-block
    }
}

.frontpage-search {
    border-radius: 3px;
    background-color: #373636;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 25px 45px;
    max-width: 990px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 24px
}

@media (max-width: 568px) {
    .frontpage-search {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 0
    }
}

.frontpage-search__input {
    display: block;
    border: none;
    border-radius: 4px;
    height: 44px;
    width: 100%;
    padding: 0 15px;
    font-size: 16px;
    -webkit-appearance: none
}

@media (max-width: 568px) {
    .frontpage-search__input {
        border-radius: 4px 0 0 4px
    }
}

.frontpage-search__button {
    border: none;
    background-color: #fd9460;
    border-radius: 3px;
    padding: 0;
    min-width: 140px;
    height: 44px;
    margin-left: 20px;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    text-align: center
}

.frontpage-search__button:before {
    display: none
}

.working-hover .frontpage-search__button:hover {
    background-color: #ff7c3c
}

@media (max-width: 568px) {
    .frontpage-search__button {
        position: relative;
        border-radius: 0 4px 4px 0;
        margin-left: 0;
        width: 52px;
        min-width: 0;
        font-size: 0
    }

    .frontpage-search__button:before {
        z-index: 1;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        font-size: 23px;
        line-height: 44px
    }
}

.frontpage-share {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    line-height: 22px
}

.frontpage-share__title {
    color: #9d9d9d
}

.frontpage-share__icon {
    margin-left: 12px;
    font-size: 18px;
    font-family: FontIcons;
    color: #fdc073
}

.working-hover .frontpage-share__icon:hover {
    text-decoration: none;
    color: #fff
}

.frontpage-share__icon_tw:before {
    content: "\E808"
}

.frontpage-share__icon_fb:before {
    content: "\E809"
}

.frontpage-share__icon_gp:before {
    content: "\E80A"
}