body {
    font: 16px BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

a.tasks {
    display: block;
    text-decoration: none;
}

a.tasks:hover {
    text-decoration: underline;
}

h1.tasks {
    text-decoration: #0b7bc0;
}

.tasks {
    margin-left: 200px;
    margin-bottom: 10px;
}